html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
}

h1 {
  margin: 0;
}

.account-value {
  grid-area: account;
  background: rgb(51, 66, 71);
  color: rgb(227, 231, 231);
  height: 100%;
}

.input-area {
  grid-area: input;
  background: rgb(145, 168, 175);
  height: 100%;
}

.open-positions {
  grid-area: open_trade;
  background: rgb(145, 168, 175);
  height: 25vh;
  overflow-y: scroll;
}

.trade-history {
  grid-area: history;
  background: rgb(158, 155, 155);
  height: 36vh;
  overflow-y: scroll;
}