html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
}

h1 {
  margin: 0;
}

.account-value {
  grid-area: account;
  background: rgb(104, 104, 184);
  height: 15vh;
}

.input-area {
  grid-area: input;
  background: rgb(103, 160, 103);
  height: 25vh;
}

.open-positions {
  grid-area: open_trade;
  background: rgb(167, 144, 103);
  height: 25vh;
}

.trade-history {
  grid-area: history;
  background: rgb(196, 189, 189);
  height: 35vh;
  overflow-y: scroll;
}